.header {
  background-color: #053377;
  padding: 10px 20px;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.category-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  color: #fff;
}

.category-item {
  margin: 0 15px;
  cursor: pointer;
  color: #fff;
}

.category-item:hover {
  color: #91ccf3;
}

.category-item.active {
  font-weight: bold;
  color: #fff;; /* Change this to whatever color you want */
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.logo h4 {
  margin: 0;
}

.logo small {
  color: #fff;
}

.search-bar {
  margin: 20px 0;
  display: flex;
  justify-content: center;
}

.search-bar input {
  padding: 8px;
  font-size: 14px;
  outline: none;
}

.search-bar button {
  padding: 10px 15px;
  background: #ec3f3f;
  color: white;
  border: none;
  cursor: pointer;
}
